BREVE DEFINICIÓN DE LISTAS
##una lista es una colección ordenada de elementos que pueden ser de distintos tipos (números, cadenas, objetos, etc.). Se definen entre corchetes [] y los elementos están separados por comas.

#METODOS Y EJEMPLO

In [24]:
#1. pop: Elimina y devuelve el elemento en la posición dada
lista1=[2,5,7,7,11,62]
lista2=["Laura","Katalina","Parada","Suarez","Juan","Manuel","Parada","Suarez"]

In [25]:
# 2. append(): Agrega un elemento al final de la lista.
# Agregamos un año arbitrario a la lista de fechas
fechas=[]
fechas.append(2024)
print("1. Append:",fechas)  # Salida: [13, 03, 06, 12, 03, 04,]

1. Append: [2024]

In [8]:
# 3. extend(): Agrega múltiples elementos al final de la lista.
# Agregamos una nueva fecha [26, 07, 20] al final de la lista de fechas
fechas.extend([26, 7, 20])
print("2. Extend:", fechas)  # Salida: [13, 03, 06, 12, 03, 04, 2024, 26, 07, 20]

2. Extend: [2024, 26, 7, 20]

In [21]:
# 4. insert(): Inserta un elemento en una posición específica.
# Insertamos un nuevo nombre en la posición 1 de la lista de nombres
nombres=[]
nombres.insert(1, "juan mathias parada suarez")
print("3. Insert:", nombres)  # Salida: ['laura katalina parada suarez', 'juan manuel parada suarez', 'juan mathias parada suarez']

3. Insert: ['juan mathias parada suarez']

In [22]:
# 5. remove(): Elimina la primera aparición de un elemento.
# Eliminamos el año 2024 de la lista de fechas
fechas.remove(2024)
print("4. Remove:", fechas)  # Salida: [13, 03, 06, 12, 03, 04, 26, 07, 20]

4. Remove: [7, 20, 26]

In [10]:
# 6. index(): Devuelve el índice de la primera aparición del elemento.
# Buscamos el índice de la primera aparición del número 7 en la lista de fechas
indice_7 = fechas.index(7)
print("6. Index del número 7:", indice_7)

6. Index del número 7: 2

In [11]:
# 7. count(): Cuenta el número de veces que aparece un elemento en la lista.
# Contamos cuántas veces aparece el número 7 en la lista de fechas
repetidos_7 = fechas.count(7)
print("7. Count del número 7:", repetidos_7)

7. Count del número 7: 1

In [12]:
# 8. reverse(): Invierte el orden de los elementos en la lista.
# Invertimos la lista de fechas
fechas.reverse()
print("8. Reverse:", fechas)

8. Reverse: [20, 7, 26, 2024]

In [20]:
# 9. sort(): Ordena los elementos de la lista.
# Ordenamos la lista de fechas de menor a mayor
fechas.sort()
print("9. Sort:", fechas)

9. Sort: [7, 20, 26, 2024]

In [23]:
# 10. clear(): Elimina todos los elementos de la lista.
# Limpiamos todos los elementos de la lista de nombres
nombres.clear()
print("10. Clear:", nombres)

10. Clear: []

#Breve definicon de diccionarios

In [14]:
# Definición de los diccionarios
dic1 = {"nombre": "Katalina", "apellido1": "Parada"}
dic2 = {"dia": 13, "mes": 3, "año": 2006}

#METODOS Y EJEMPLO

In [16]:
# 1. get(): Obtiene el valor de una clave especificada.
nombre = dic1.get("nombre")
print("1. Get nombre:", nombre)  # Salida: "Katalina"

1. Get nombre: Katalina

In [ ]:
# 2. keys(): Devuelve una vista de todas las claves del diccionario.
claves_dic1 = dic1.keys()
print("2. Keys dic1:", list(claves_dic1))  # Salida: ['nombre', 'apellido1']

In [15]:
# 3. values(): Devuelve una vista de todos los valores del diccionario.
valores_dic1 = dic1.values()
print("3. Values dic1:", list(valores_dic1))  # Salida: ['katalina', 'Parada']

3. Values dic1: ['Katalina', 'Parada']

In [ ]:
# 4. items(): Devuelve una vista de los pares clave-valor del diccionario.
items_dic1 = dic1.items()
print("4. Items dic1:", list(items_dic1))  # Salida: [('nombre', 'Katalina'), ('apellido1', 'Parada')]

In [ ]:
# 5. update(): Actualiza el diccionario con otro diccionario o con pares clave-valor.
dic1.update({"apellido2": "Molina"})
print("5. Update dic1:", dic1)  # Salida: {'nombre': 'Katalina', 'apellido1': 'Parada', 'apellido2': 'Suarez'}

In [ ]:
# 6. pop(): Elimina y devuelve el valor de una clave especificada.
apellido1 = dic1.pop("apellido1")
print("6. Pop apellido1:", apellido1)  # Salida: 'Parada'
print("6. Dic1 después del pop:", dic1)  # Salida: {'nombre': 'Katalina', 'apellido2': 'Suarez'}

In [ ]:
# 7. popitem(): Elimina y devuelve el último par clave-valor agregado.
ultimo_item = dic1.popitem()
print("7. Popitem:", ultimo_item)  # Salida: ('apellido2', 'Suarez')
print("7. Dic1 después del popitem:", dic1)  # Salida: {'nombre': 'Katalina'}

In [ ]:
# 8. clear(): Elimina todos los elementos del diccionario.
dic1.clear()
print("8. Clear dic1:", dic1)  # Salida: {}

In [18]:
# 9. copy(): Devuelve una copia superficial del diccionario.
dic2_copia = dic2.copy()
print("9. Copy dic2:", dic2_copia)  # Salida: {'dia': 13, 'mes': 03, 'año': 2006}

9. Copy dic2: {'dia': 13, 'mes': 3, 'año': 2006}

In [17]:
# 10. setdefault(): Devuelve el valor de una clave, y si no existe, la agrega con un valor predeterminado.
año = dic2.setdefault("año", 2023)  # No se agrega porque ya existe
print("10. Setdefault año:", año)  # Salida: 2007
print("10. Dic2 después del setdefault:", dic2)  # Salida: {'dia': 13, 'mes': 03, 'año': 2006}

10. Setdefault año: 2006
10. Dic2 después del setdefault: {'dia': 13, 'mes': 3, 'año': 2006}

#EJERCICIOS LISTAS - DICCIONARIOS

In [ ]:
#Ejercicio 1
list1 = [100, 200, 300, 400, 500]
list1.reverse()
print(list1)

[500, 400, 300, 200, 100]

In [ ]:
#Ejercicio 2
lista1 = ["M", "nom", "e", "e"]
lista2 = ["i", "bre", "s", "quis"]
lista_unida = [a + b for a, b in zip(lista1, lista2)]
print(lista_unida)

['Mi', 'nombre', 'es', 'equis']

In [ ]:
#Ejercicio 3
lista = [1, 2, 3, 4, 5, 6, 7]
doble_lista = [x ** 2 for x in lista]
print(doble_lista)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#Ejercicio 5
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for a, b in zip(list1, reversed(list2)):
    print(a, b)

10 400
20 300
30 200
40 100

In [ ]:
#Ejercicio 6
lista = ["Mike", "", "Emma", "Kelly", "", "Brad"]
lista_sin_vacios = [x for x in lista if x]
print(lista_sin_vacios)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
#Ejercicio 7
lista = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
lista[2][2].append(7000)
print(lista)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]